.footer__btn_wrapper
{
	display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 30px;
}


.btn
{
	
	color:white;
	padding:10px 40px;
	transition: all 0.3s linear;
	&.btn_close
	{
		background: #6c6c6c;
	}

	&.btn_save
	{
		background: #009b03;
	}

	&:hover
	{
		color: black;
	}
	&:active
	{
		transform:scale(0.9);
	}
}


.border_red
{
	border: 1px solid red !important;
	border-radius:5px;
}
